{{cprTrace "START DIALOG CPR-INSTALL-CYBERWARE-PROMPT.HBS"}}
<form class="dialog-sheet" id="installCyberware">
  {{!-- Select HL --}}
  <div class="dialog-header flexcol text-semi text-center">
    {{localize "CPR.dialog.installCyberware.cyberwareHumanityLoss"}}
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.dialog.installCyberware.humanityLoss"}}:
        </div>
        <div class="dialog-item-input item-end">
          <select name="humanityLossType">
            {{#select humanityLossType}}
              <option value="roll">
                {{localize "CPR.rolls.roll"}}: {{rolledHumanityLoss}}
              </option>
              <option value="static">
                {{localize "CPR.dialog.installCyberware.static"}}: {{staticHumanityLoss}}
              </option>
              <option value="None">
                {{localize "CPR.dialog.installCyberware.none"}}
              </option>
            {{/select}}
          </select>
        </div>
      </li>
      {{#unless item.system.isFoundational}}
        {{#if (cprListContains "fashionware,cyberwareInternal,cyberwareExternal" item.type) }}
          {{#each foundationalCyberware as |cyberware c| }}
            <input type="hidden" name="foundationalId" value="{{cyberware._id}}"/>
          {{/each}}
        {{else}}
          <li class="dialog-item flexrow">
            <div class="dialog-item-name text-nowrap">
              {{localize "CPR.global.generic.foundational"}} {{localize "CPR.global.itemTypes.cyberware"}}:
            </div>
            <div class="dialog-item-input text-nowrap">
              <select name="foundationalId">
                {{#select foundationalId}}
                  {{!-- ONLY DISPLAY CYBERWARE OF SAME TYPE AS OPTIONAL --}}
                  {{#each foundationalCyberware as |cyberware c| }}
                    <option value="{{cyberware._id}}">
                      {{cyberware.name}}
                    </option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
          </li>
        {{/if}}
      {{/unless}}
    </ol>
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
{{cprTrace "END CPR-INSTALL-CYBERWARE-PROMPT.HBS"}}
